*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Poppins', 'Inter';
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    color: rbg(85, 85, 85);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

/* Nav Bar */
#navbar {
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 70px; 
    padding-right: 70px;
    width: 90%;
}

nav, .nav-items {
    display: flex;
}

nav {
    justify-content: space-between; 
    align-items: center;
    height: 17vh;
}

.nav-items {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    font-style: 1.5rem;
}

.nav-items a {
    font-size: 14px;
    line-height: 50px;
    display: inline-block;
}

a {
color: #222222;
    text-decoration: none;
}

a.tabs:hover {
    text-decoration: underline;
    text-decoration-color: #222222;
}

a.logo {
    font-size: 15px;
    font-weight: 500;
}

a.logo:hover {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

/* .resume-btn {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    transition: all 300ms ease;
    padding: 6px;
    width: 100px;
    border-radius: 10px;
    border: rgb(35, 35, 35) 2px solid;
    background: transparent;
    color: #222222;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    margin-top: 7px;
}

.resume-btn:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: white;
    border: rgb(0, 0, 0) 2px solid;
} */

.logo {
    font-weight: 500;
}

.logo:hover {
    cursor: default;
}

/*Section*/
section {
    padding-top: 42px;
}  

/*Footer */
#foot {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 300;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    color: black;
    width: 90%;
    margin-top: auto;
  }

  #foot p {
    font-size: 13px;
  }
  
  .email {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex; 
    gap: 20px; 
    list-style-type: none;
    padding-bottom: 25px;
  }
  
  .links li{
    padding-left: 20px;
  }
  
  .copyr {
    text-align: right;
    padding-top: 10px;
  }

  .copyr p{
    color:#7c7b7b;
  }
  
  .contact {
    color: #7c7b7b;
    line-height: 20px;
  }
  
  #foot a:hover {
    cursor: pointer;
  }
  
  .address:hover{
    text-decoration: underline;
  }
  
  .arrow{
    height: 12px;
    margin-left: 2px;
    transform: translateY(1px);
  }
  
  .links li a:hover {
    border-bottom: 1px solid black;
  }

  /* Text Settings */
h1 {
    font-family: "Poppins";
    font-size: 60px;
    letter-spacing: -3px;
    text-align: left;
    font-weight: 600;
}

h2 {
    font-family: "Inter";
    font-size: 18px; 
    font-weight: 300;
    color: #747474;
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 2px;
    text-align: flex-start;
    margin-top: 10px;
    
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5c5c5c;
    margin-bottom: 5px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #202020;
    margin: 0;
    text-align: left;
    line-height: 2;
    margin-bottom: 33px;
    padding-right: 100px;
}

li {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: #7c7b7b;
}

/* Project Intro */
#project-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.main-image {
    width: 100%; 
    height: auto; 
    padding: 0;
    box-sizing: border-box;
}

.main-image img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/* Overview */
#project-details {
    display: flex;
    justify-content: space-between; 
    padding: 10px 70px;
    align-items: flex-start;
    margin-bottom: 80px;
    margin-top: 60px;
}

#project-details .overview {
    flex: 1;
}

#project-details .overview h3 {
    padding-top: 5px;
    margin-bottom: 50px; 
}

#project-details .overview h4 {
    margin-top: 30px;
}

.overview h4:nth-of-type(2) {
    margin-top: 40px;
}

.tools-list, .skills-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex; 
    justify-content: flex-start; 
    gap: 15px; 
}

.brief {
    flex: 1; 
    font-family: 'Inter', sans-serif;
    color: #9F9FA9;
    font-size: 15px;
    line-height: 2;
}

.line {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.line-image {
    padding-top: 25px;
    width: 1.5px;
    height: auto; 
}

.heading h4 {
    margin: 0;
    display: inline; 
}

/* Project Images */
#project-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 50px; 
    box-sizing: border-box; 
    align-items: stretch; 
}

.project-image {
    flex: 1; 
    width: 100%; 
    height: auto; 
    max-width: calc(50% - 10px); 
    border-radius: 10px;
    object-fit: cover; 
}

/* The Problem */
#problem {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 50px;
}

.box {
    flex: 1;
    padding: 20px; 
}

/* Solution */ 
#solution {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 60px;
}

.solution-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#solution .brief h3 {
    padding-top: 20px;
    margin-bottom: 30px;
}

/* Impact */
#impact {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    padding-left: 50px; 
    padding-right: 50px;
    box-sizing: border-box;
}

#final-image {
    width: 100%; 
    height: auto; 
    padding-left: 50px; 
    padding-right: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#final-image img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}